.filter__list {
  color: white;
  display: flex;
  gap: 28px;
  height: max-content;
  max-height: 237px;
  overflow-y: auto;
  flex-direction: column;
  width: max-content;
  max-width: 248px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.modal_conteiner {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  border-radius: 12px;
  border: none;
  background: rgba(49, 49, 49, 1);
  padding: 34px 36px;
  text-align: left;
  z-index: 2;
  margin-top: 10px;
}

.modal_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  color: white;
  height: max-content;
  max-height: 237px;
  overflow-y: auto;
  width: max-content;
  max-width: 248px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.title_modal {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  &.active {
    color: rgba(182, 114, 255, 1);
    text-decoration: underline;
    font-style: solid;
  }
}
