* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
    &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

body {
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
input {
  font-family: var(--font-montserrat);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}