* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, input {
  font-family: var(--font-montserrat);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/* Полное отключение переводчика */
[data-ya-translate] {
  display: none !important;
  visibility: hidden !important;
}

[translate="no"] {
  translate: none !important;
}

* {
  translate: none !important;}