.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 285px;
}

.title {
  font-size: 160px;
  font-weight: 400;
  line-height: 168px;
  color: rgba(255, 255, 255, 1);
}
.text_wrapper {
  display: flex;
}
.text {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
}

.desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3%;
  color: rgba(78, 78, 78, 1);
}

.button {
  width: 278px;
  height: 62px;
  background-color: #580ea2;
  border-radius: 6px;
  margin-left: 4px;
  border: none;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.05px;
}